.App {
  
}

.content {
  padding: 30px;
  background-color: white;
  min-height: 741px;
  height: 100vh;
  overflow-y: auto;
  background-color: #F9EBC8;
}

.url {
  width: 480px;
}

.sider {
  padding: 30px;
  overflow: hidden;
  background-color: #FEFBE7;
  border-left: 2px dashed #A0BCC2;
}